/* ===== CORE STYLES ===== */
body {
    color: $color-darkest;
    font-family: $font-body;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.7;
    text-align: center;
}

h1, h2, h3 {
    color: $color-primary-dark;
    font-family: $font-title;
    font-weight: 700;
    line-height: 1.9;
    margin: 1em 0;
}

h1 {
    font-size: 1.4rem;
}

h2 {
    font-size: 1.2rem;
}

h3 {
    font-size: 1rem;
}

p {
    margin-bottom: 1em;
}

a {
    text-decoration: none;
    color: $color-darkest;
    font-weight: 400;
}

.text-bold {
    font-weight: bold;
}